<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConStringEncrypt" value="false"/>
		<add key="SaConnection" value="server=localhost;database=mysql;uid=root;pwd=123456"/>
		<add key="DbConnection" value="server=localhost;database=cw_database;uid=root;pwd=123456"/>
		<add key="ConnectionTemplate" value="server=localhost;database=ConnectionTemplate;uid=root;pwd=123456;"/>
		<add key="DbServer" value="localhost"/>
		<add key="SaPassword" value="123456"/>
		<add key="UID" value="root"/>
		<add key="PWD" value="123456"/>
		<add key="MainDBName" value="cw_database"/>
		<add key="DbPrefix" value="cwdb"/>
		<add key="SubjectLevel" value="0,3,5,9,13"/>
		<add key="AccReveivable" value="112"/>
		<add key="AccPayable" value="202"/>
		<add key="InternalDemand" value="113"/>
		<add key="GroupingSubject" value="11302"/>
		<add key="FixedAssetSubject" value="151"/>
		<add key="MergeVoucherSLevel" value="5"/>
		<add key="AccumulatedDeprSubject" value="152"/>
		<add key="WelfarismSubject" value="212"/>
		<add key="WelfarismIncrease" value="21201|21202"/>
		<add key="YearProfitSubject" value="321"/>
		<add key="UndistributedProfit" value="32202"/>
		<add key="ManageSubject" value="541"/>
		<add key="MonthDeprSubject" value="54105"/>
		<add key="IncomeSubject" value="501|511|521|522|531|561"/>
		<add key="ExpenseSubject" value="502|541|551"/>
		<add key="DebitSubject" value="1|4|502|541|551"/>
		<add key="CreditSubject" value="2|3|501|511|521|522|531|561"/>
		<add key="setCondition" value="0"/>
		<add key="addBUser" value="0"/>
		<add key="lowermoeny" value="10000"/>
		<add key="BarPrintType" value="0"/>
		<add key="ip" value="/"/>
		<add key="SBR_ShowType" value="1"/>
		<add key="NotDeleteSuject" value="1"/>
		<add key="LockYearCarry" value="0"/>
		<add key="LockFirstSubjectPower" value="1"/>
		<add key="OnBackupUpdateTableStruct" value="0"/>
		<add key="CheckFixedAssetModel" value="1"/>
		<add key="AutoCreateAssetCard" value="0"/>
		<add key="AutoBackupData" value="0"/>
		<add key="ImportTables" value="cw_recordid,cw_collectrowitem,cw_definerowitem,cw_reportdesign,cw_reportrowitem,cw_subject,cw_syspara,cw_ditype,cw_resclass"/>
		<add key="ForbidFolders" value="BackupDB|UploadFile|Uploads|Templates"/>
		<add key="ForbidExtensions" value="aspx|cs|master|ashx|asmx"/>
		<add key="DefConfigFilePath" value="App_Data\DefConfig.xml"/>
		<add key="DefaultPageUrl" value="/Default.aspx"/>
		<add key="ErrShowPageUrl" value="/ErrorTip.aspx"/>
		<add key="LastSystemUpdateDate" value="2013-10-12"/>
		<add key="Version" value="BSSZ2012032101"/>
		<add key="ShortName" value="农友三资管理"/>
		<add key="FullName" value="农友农村三资管理信息系统"/>
		<!--权限模块连接字符串-->
		<add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd="/>
		<add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd="/>
		<!--虚拟目录名称(如果是站点，则为空) -->
		<add key="VirtualPath" value=""/>
		<!--登录页地址 -->
		<add key="LoginPage" value="admin/Login.aspx"/>
		<!--默认菜单是否是展开状态-->
		<add key="MenuExpanded" value="false"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
	</appSettings>
	<system.web>
		<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="200"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN"/>
		<pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
		<httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
		<compilation debug="true" />
		<customErrors mode="Off" defaultRedirect="ErrorPage.aspx">
			<error statusCode="403" redirect="ErrorPage.aspx?code=403"/>
			<error statusCode="404" redirect="ErrorPage.aspx?code=404"/>
		</customErrors>
		<httpModules>
			<add name="RadUploadModule" type="Telerik.WebControls.RadUploadHttpModule, RadUpload.Net2"/>
		</httpModules>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
			<add verb="*" path="Telerik.RadUploadProgressHandler.aspx" type="Telerik.WebControls.RadUploadProgressHandler, RadUpload.Net2"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
