<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>预算书</title>
</head>

<body>
<style type="text/css">
body{background:#fff;text-align:center;}
table,input,select,textarea{font-size:14px;line-height:150%; font-family:宋体; color:#000;}

a:link {color:#002277; text-decoration:none}
a:visited {color:#002277; text-decoration:none}
a:hover {color:#CC0000; text-decoration:underline}
a:active {color:#CC0000; text-decoration:underline}


.tableTitle{font-weight:bold;text-align:center;width:80px;}
.tableContent{text-align:left;}
</style>
<!--NoPrintStart--><center><input type="button" value="打印" style="120px" onclick="window.open('../../PrintWeb.html')"/></center><!--NoPrintEnd-->
<table style="width:680px;text-align:center;font-weight:bold;font-size:18pt;font-family:黑体;margin-top:15px;" >
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;村&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预算书</td>
	</tr>
</table>
<table style="width:680px;border:1px solid #000800;align:center;margin-top:5px; font-size:15pt;font-family:宋体;">
	<tr>
		<td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;一、项目名称：</td>
	</tr>
	<tr style="height:200px;">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;二、项目实施时间：</td>
	</tr>
	<tr style="height:100px;">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;三、项目明细：</td>
	</tr>
	<tr style="height:200px;">
		<td>&nbsp;</td>
	</tr>

	<tr>
		<td style="text-align:right;">村委会<td>
	</tr>
	<tr>
		<td style="text-align:right;">年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日<td>
	</tr>
</table>



</body>
</html>
