<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>参投登记表</title>
</head>

<body>
<style type="text/css">
body{background:#fff;text-align:center;}
table,input,select,textarea{font-size:14px;line-height:150%; font-family:宋体; color:#000;}

a:link {color:#002277; text-decoration:none}
a:visited {color:#002277; text-decoration:none}
a:hover {color:#CC0000; text-decoration:underline}
a:active {color:#CC0000; text-decoration:underline}


.tableTitle{font-weight:bold;text-align:center;}
.tableContent{text-align:left;}
</style>
<!--NoPrintStart--><center><input type="button" value="打印" style="120px" onclick="window.open('../../PrintWeb.html')"/></center><!--NoPrintEnd-->

<table style="width:680px;text-align:center;font-weight:bold;font-size:25px;font-family:黑体;margin-top:15px;">
	<tr>
		<td>参投登记表</td>
	</tr>
</table>
<table style="width:680px;">
	<tr>
		<td style="font-weight:bold;text-align:left;">项目名称</td>
		<td style="font-weight:bold;text-align:right;">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
	</tr>
</table>
<table style="width:680px;border:1px solid #000800;align:center;margin-top:5px;background:#000800;" cellspacing="1" cellPadding="3"  >
	<tr style="background:#ffffff;">
		<td class="tableTitle">序号</td>
		<td class="tableTitle">投标人（单位）</td>
		<td class="tableTitle">资质</td>
		<td class="tableTitle">负责人</td>
		<td class="tableTitle">联系电话</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
</table>


</body>
</html>
