<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>代理申请</title>
</head>

<body>
<style type="text/css">
body{background:#fff;text-align:center;}
table,input,select,textarea{font-size:14px;line-height:170%; font-family:宋体; color:#000;}

a:link {color:#002277; text-decoration:none}
a:visited {color:#002277; text-decoration:none}
a:hover {color:#CC0000; text-decoration:underline}
a:active {color:#CC0000; text-decoration:underline}


.tableTitle{font-weight:bold;width:90px;}
.tableContent{text-align:left;}
.tableTitle2{font-weight:bold;text-align:left;width:120px;}
</style>
<!--NoPrintStart--><center><input type="button" value="打印" style="120px" onclick="window.open('../../PrintWeb.html')"/></center><!--NoPrintEnd-->
<table style="text-align:center;font-weight:bold;font-size:25px;font-family:黑体;margin-top:5px;width:680px;">
	<tr><td>代理申请</td></tr>
</table>
<table style="width:680px;align:center;margin-top:5px;background:#000800;" cellspacing="1" cellPadding="3"  >
	<tr style="background:#ffffff;">
		<td class="tableTitle">申请村</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableTitle">日期</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle">申请项目</td>
		<td class="tableContent">&nbsp;</td>
		<td class="tableTitle">估算价</td>
		<td class="tableContent">&nbsp;</td>
	</tr>
</table>
<table style="width:680px;align:center;background:#000800;" cellspacing="1" cellPadding="3"  >
	<tr style="background:#ffffff;">
		<td class="tableTitle" rowspan="6">民<br/>主<br/>议<br/>事<br/>六<br/>步<br/>工<br/>作<br/>法</td>
		<td class="tableTitle2">支部提议</td>
		<td class="tableContent">因&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日村党支部提出拟对&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;事项实行招标。</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle2">两委商议</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日召开村两委联席会商议。</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle2">党员代表审议</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日就议案征求党员意见。</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle2">议案公开</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日至&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日议案公开（不少于三天）。</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle2">村民代表会决议<br/>(资产资源竞价处置需条形码比对）</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日召开村民代表会议,村民代表共&nbsp;&nbsp;&nbsp;&nbsp;人，&nbsp;&nbsp;&nbsp;&nbsp;人参加会议，&nbsp;&nbsp;&nbsp;&nbsp;通过，通过率达&nbsp;&nbsp;&nbsp;&nbsp;%。
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableTitle2">结果公开</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日至&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日结果公开（不少于三天）</td>
	</tr>
</table>
<table style="width:680px;align:center;background:#000800;" cellspacing="1" cellPadding="3"  >
	<tr style="background:#ffffff;">
		<td rowspan="2" class="tableContent" width="30%">支部书记：<br/><br/>村主任：
			<div style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div></td>
		<td rowspan="2" class="tableContent" width="30%">村务监督小组组长:<br/><br/>廉政监督员：
			<div style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div>
		</td>
		<td rowspan="2" class="tableTitle">乡镇招投标办公室意见</td>
		<td class="tableContent">同意代理</td>
	</tr>
	<tr style="background:#ffffff;">
		<td class="tableContent">不同意代理(退回)</td>
	</tr>
</table>


</body>
</html>
