<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>现金支出议定审核批办卡</title>
</head>

<body>
<style type="text/css">
body{background:#fff;text-align:center;}
table,input,select,textarea{font-size:14px;line-height:150%; font-family:宋体; color:#000;}

a:link {color:#002277; text-decoration:none}
a:visited {color:#002277; text-decoration:none}
a:hover {color:#CC0000; text-decoration:underline}
a:active {color:#CC0000; text-decoration:underline}

.tableTitle{font-weight:bold;width:40px;}
.tableContent{text-align:left;}
.tableTitle2{font-weight:bold;text-align:left;}

.style1{text-align: left;width: 172px;}

.pageBreakAfter{page-break-after:always;height:0px;}
</style>
<!--NoPrintStart-->
<center><a href="pipanka.doc" target="_blank" style="font-weight:bold; font-size:15pt">【本页文档下载】</a></center>
<!--NoPrintEnd-->
<table style="text-align:center;font-weight:bold;font-size:20px;font-family:黑体;margin-top:5px;width:680px;">
	<tr><td>“三资”托管中心存款支出议定审核批办卡</td></tr>
</table>
<table style="width:680px;align:center;margin-top:5px;background:#000800;" cellspacing="1" cellPadding="3"  >
	<tr style="background:#ffffff;" >
		<td class="tableTitle">议定事由及支款金额</td>
		<td class="tableContent">
		</td>
		<td class="tableContent" colspan="2">
		村两委意见<br />
		支部书记：<br /><br />
		村主任：<br /><br />
		<div style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div></td>
		<td class="tableTitle">党员大会审议</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日就议案征求党员意见，（是、否）通过。</td>
	</tr>
	<tr style="background:#ffffff; height:120px" >
		<td class="tableTitle">议案公开</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日议案公开（不少于三天）。</td>
		<td class="tableTitle">村民代表会议决议</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日召开村民代表会议决议，共&nbsp;&nbsp;人参加，&nbsp;&nbsp;人通过，（是、否）超过1/2。</td>
		<td class="tableTitle">结果公开</td>
		<td class="tableContent">于&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日结果公开（不少于三天）。</td>
	</tr>
	<tr style="background:#ffffff;" >
		<td class="tableContent" colspan="3">
			农经站站长&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            签字：<br /><br /><br />
            <div style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div>
		</td>
		<td class="tableContent" colspan="3">
		    乡镇领导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            签字：<br /><br /><br />
		    <div style="text-align:right;">&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div>
		</td>
	</tr>
</table>
<table style="width:680px;border:1px solid #000800; margin-top:5px;" cellspacing="1" cellPadding="3"  >
	<tr>
		<td class="tableTitle2">村支部书记、村主任（贴码）：</td>
	</tr>
	<tr style="height:80px;">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="tableTitle2">村两委成员（贴码）：</td>
	</tr>
	<tr style="height:200px;">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="tableTitle2">村民主监事会成员（贴码）：</td>
	</tr>
	<tr style="height:100px;">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="tableTitle2">村民代表会议会员（贴码）：</td>
	</tr>
	<tr style="height:100px;">
		<td>&nbsp;</td>
	</tr>
</table>
<div class='pageBreakAfter'>&nbsp;</div>
<table style="width:680px;border:1px solid #000800; margin-top:5px;" cellspacing="1" cellPadding="3"  >
	<tr>
		<td class="tableTitle2">村民代表会议会员（贴码）：</td>
	</tr>
	<tr style="height:880px;">
		<td>&nbsp;</td>
	</tr>
</table>
</body>
</html>
